body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(49, 47, 79);
}

/* COMPUTER SIDE SECTION */
/* Note Do not change unless necessary */

.opponent_section{
    position: absolute;
    top: 1.25rem;
    left: 43.75rem;
}

#opponent_1st_choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#opponent_1st_choice img{
    max-width: 100%;
    max-height: 100%;
}

#opponent_2nd_choice{
    position: relative;
    top: -12.5rem;
    left: -12.5rem;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#opponent_2nd_choice img{
    max-width: 100%;
    max-height: 100%;
}

#opponent_score{
    position: relative;
    top: -18.75rem;
    left: 9.375rem;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

/* PLAYER SIDE SECTION */
/* Note Do not change unless necessary */

.player_section{
    position: absolute;
    top: 8.125rem;
    left: 31.25rem;
}

#player_1st_choice {
    width: 240px;
    height: 240px;
    margin-top: 10px; 
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#player_1st_choice img{
    max-width: 100%;
    max-height: 100%;
}

#player_2nd_choice{
    position: relative;
    top: 12.5rem;
    left: 18.75rem;
    width: 140px;
    height: 140px;
    margin-top: 10px; 
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#player_2nd_choice img{
    max-width: 100%;
    max-height: 100%;
}

#player_score{
    position: relative;
    top: -9.375rem;
    left: -9.375rem;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

/*CHOICES CSS ////////////////////////////// */

#element_choices {
    position: absolute;
    top: 35.625rem;
    left: 21.875rem;
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
    padding: 0.3125rem;
    margin-top: 0.625rem;
    border: 0.125rem solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 0.75rem;
}

#element_choices img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
    transition-duration: 0.5s;
}

#element_choices button{
    background: transparent;
    border: none;
    color: white;
}

#element_choices img:hover{
    background-color: rgba(102, 102, 229, 0.314);
}

#element_choices img:active{
    background-color: rgba(240, 240, 255, 0.314);
}

/* Game Settings instruction and Etc ////////////////////// */

/* will be added to an modal side box navigation */
#btn_navigation{
    float: left;
    width: 40px;
    padding: 10px;
    margin: 20px;
}

.settings_nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -6.25rem;
    background-color: #11111180;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.settings_nav input {
    position: relative;

    text-decoration: none;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 7px;
    margin: 10px;
    padding: 5px;
    background: none;
    color: #818181;
    transition: 0.3s;
    margin-bottom: 10px; 
}
  
.settings_nav button {
    position: relative;
    left: 12.5rem;
    display: block; 
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    color: #818181;
    transition: 0.3s;
    margin-bottom: 10px; 
}

.settings_nav input{
    width: 8.125rem;
    padding: 10px;
}
  
.settings_nav button:hover {
color: #ffffff;
}

.settings_nav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.settings_nav {padding-top: 15px;}
.settings_nav a {font-size: 18px;}
}

/* Modal Box //////////////////////////////////// */
/* Modal Header */
/* Note Do not change unless necessary */
.modal_instruction {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal_content_instruction {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animate_top;
    -webkit-animation-duration: 0.4s;
    animation-name: animate_top;
    animation-duration: 0.4s
}
  
  /* Add Animation */
@-webkit-keyframes animate_top {
    from {top:-18.75rem; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animate_top {
    from {top:-18.75rem; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close_instruction {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close_instruction:hover, .close_instruction:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal_header_instruction {
    padding: 2px 16px;
    background-color: #b8a95c;
    color: white;
}
  
.modal_body_instruction {
    font-size: medium;
    padding: 2px 16px;
    text-align: justify;
    text-justify: inter-word;
}

#character_6_instruction{
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    float: right;
}
  

.modal_last_round {
    display: none;
    position: fixed;
    z-index:999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content_last_round {
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
}

.modal_header_last_round {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_last_round {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close_last_round:hover,
.close_last_round:focus {
    color: black;
    text-decoration: none;
}

.modal_body_last_round{
    position: absolute;
    top: 20rem;
}

#opponet_first_choice_final{
    position: relative;
    top: -18.75rem;
    left: -4.375rem;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}


#opponet_first_choice_final img{
    max-width: 100%;
    max-height: 100%;
}

#opponet_second_choice_final{
    position: relative;
    top: -28.125rem;
    left: 22.5rem;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#opponet_second_choice_final img{
    max-width: 100%;
    max-height: 100%;
}

#opponent_combination{
    color: white;
    font-size: medium;
    position: relative;
    top: -31.5625rem;
    left: 6rem;
    width: 240px;
    height: 100px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#player_first_choice_final{
    position: relative;
    top: -25rem;
    left: -4.375rem;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#player_first_choice_final img{
    max-width: 100%;
    max-height: 100%;
}

#player_second_choice_final{
    position: relative;
    top: -15.625rem;
    left: 23.125rem;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}

#player_second_choice_final img{
    max-width: 100%;
    max-height: 100%;
}


#player_combination{
    color: white;
    font-size: large;
    text-align: center;
    position: relative;
    top: -38.125rem;
    left: 6rem;
    width: 240px;
    height: 100px;
    border: 2px solid white;
    background-color: rgba(10, 10, 83, 0.314);
    border-radius: 12px;
}



/* Modal Box //////////////////////////////////// */
/* Modal Header */
/* Note Do not change unless necessary */
.modal_reactions {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal_content_reactions {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animate_top_reactions;
    -webkit-animation-duration: 0.4s;
    animation-name: animate_top_reactions;
    animation-duration: 0.4s
}
  
  /* Add Animation */
@-webkit-keyframes animate_top_reactions {
    from {top:-18.75rem; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animate_top_reactions {
    from {top:-18.75rem; opacity:0}
    to {top:0; opacity:1}
}

  /* The Close Button */
.close_reactions {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close_reactions:hover, .close_reactionsn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal_header_reactions {
    padding: 2px 16px;
    background-color: #b8a95c;
    color: white;
}
  
.modal_body_reactions {
    display: flex;

    padding: 2px 16px;
    text-align: justify;
    text-justify: inter-word;
}

#character_1_reactions{
    margin: 10px;
    padding: 15px;
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    float: left;
}

.left, .right{
    flex: 1;
}
